//- Массив "Cоциальных иконок"
- var socials = {vk:'https://vk.com/danadj', gh:'https://github.com/danadj', li:'https://www.linkedin.com/home?trk=nav_responsive_tab_home'};

//- Массив "Навигация"
- var navigation = [];
- navigation.push({pageLink:'./myworks.html',pageContent:'Moи работы'});
- navigation.push({pageLink:'./aboute.html',pageContent:'Обо мне'});
- navigation.push({pageLink:'./blog.html',pageContent:'Блог'});
- navigation.push({pageLink:'./login.html',pageContent:'Авторизация'});

//- Массив "Контакты"
- var contacts = [];
- contacts.push({name:"mail", href:"mailto:danadj@yandex.ru", content:"danadj@yandex.ru"});
- contacts.push({name:"celphone", href:"tel:+79522775951", content:"+7952 277 59 51"});
- contacts.push({name:"skype", href:"skype:danadjsaintpetersburg", content:"danadjsaintpetersburg"});
- contacts.push({name:"adress", content:"Россия, г.Санкт-Петербург"});

//- Массив "Отзывы"
- var reviews = [];
- reviews.push({person: "Дмитрий Ковальчук", photo: 'me.jpg', desc: "- Основатель LoftSchool", words: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"})
- reviews.push({person: "Зар Захаров", photo: 'me.jpg', desc: "- преподаватель", words: "Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!"})