//- Массив "Cоциальных иконок"
- var socials = {vk:'https://vk.com/danadj', gh:'https://github.com/danadj', li:'https://www.linkedin.com/home?trk=nav_responsive_tab_home'};

//- Массив "Навигация"
- var navigation = [];
- navigation.push({pageNumber:1, pageLink:'./myworks.html',pageContent:'Moи работы'});
- navigation.push({pageNumber:2, pageLink:'./aboute.html',pageContent:'Обо мне'});
- navigation.push({pageNumber:3, pageLink:'./blog.html',pageContent:'Блог'});