//- Массив "Cоциальных иконок"
- var socials = {vk:'https://vk.com/danadj', gh:'https://github.com/danadj', li:'https://www.linkedin.com/home?trk=nav_responsive_tab_home'};

//- Массив "Навигация"
- var navigation = [];
- navigation.push({pageNumber:1, pageLink:'./myworks.html',pageContent:'Moи работы'});
- navigation.push({pageNumber:2, pageLink:'./aboute.html',pageContent:'Обо мне'});
- navigation.push({pageNumber:3, pageLink:'./blog.html',pageContent:'Блог'});
- navigation.push({pageNumber:4, pageLink:'./login.html',pageContent:'Авторизация'});

//- Массив "Контакты"
- var contacts = [];
- contacts.push({name:"mail", href:"mailto:danadj@yandex.ru", content:"danadj@yandex.ru"});
- contacts.push({name:"celphone", href:"tel:+79522775951", content:"+7952 277 59 51"});
- contacts.push({name:"skype", href:"skype:danadjsaintpetersburg", content:"danadjsaintpetersburg"});
- contacts.push({name:"adress", content:"Россия, г.Санкт-Петербург"});