@import "../_common/_iconspritepng";
@import "../_parts/_header";
@import "../_sections/section-top";
@import "../_parts/_person";
@import "../_parts/_socicon";
@import "../_parts/_menu";
@import "../_sections/section-me";
@import "../_sections/section-myskills";
@import "../_sections/section-contacts";
@import "../_parts/_signfooter";


.about {

	&__middle {
		background-image: linear-gradient(to right, #f2f0e8 50%, #f4f5f0 50%);
		background-size: 100%;
		color: #474b57;

		.conteiner {
			max-width: 1200px;
			padding: 0;
		}

		.text {
			font-family: robotoregular;
			line-height: 24px;
		}

		.sub-title:after {
			height: 8px;
		}
	}
}