@import "../_common/_iconspritepng";
@import "../_parts/_header";
@import "../_sections/section_top";
@import "../_parts/_person";
@import "../_parts/_socicon";
@import "../_parts/_menu";
@import "../_sections/_section_me";
@import "../_sections/_section_myskills";
@import "../_sections/_section_contacts";
@import "../_parts/_signfooter";

body {
	background-color: #000069;
}

.aboute {

	&__middle {
		background-image: linear-gradient(to right, #f2f0e8 50%, #f4f5f0 50%);
		background-size: 100%;

		.conteiner {
			max-width: 1200px;
			padding: 0;
			margin: 0 auto;
		}
	}
}