@import "../_common/_iconspritepng";
@import "../_parts/_header";
@import "../_sections/section_top";
@import "../_parts/_person";
@import "../_parts/_socicon";
@import "../_parts/_menu";
@import "../_sections/section_sidebar";
@import "../_sections/section_articles";
@import "../_parts/_signfooter";

.blog__middle {
	background-color: #faf8f0;
}

.articles {
	padding-top: 110px;
}

.mountain {
	bottom: -267px;
}

.circle-photo {
	margin-bottom: 16px;
}

.section--top {

	.conteiner {
		min-height: 310px;
		padding-top: 0;
		margin-top: -10px;
	}

	&:before {
		background-image: linear-gradient(to right top, #faf8f0 50%, transparent 50%),
		linear-gradient(to left top, #faf8f0 50%, transparent 50%);
		opacity: 1;
	}
}