div.section.section--articles.left
	article.article#article_1
		h2.section__title.section__sub-title.article__title Заголовок статьи №1
		p.article__date Дата добавления статьи
		div.article__text
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_2
		h2.section__title.section__sub-title.article__title Заголовок статьи №2
		p.article__date Дата добавления статьи
		div.article__text
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_3
		h2.section__title.section__sub-title.article__title Заголовок статьи №3
		p.article__date Дата добавления статьи
		div.article__text
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_4
		h2.section__title.section__sub-title.article__title Заголовок статьи №4
		p.article__date Дата добавления статьи
		div.article__text
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_5
		h2.section__title.section__sub-title.article__title Заголовок статьи №5
		p.article__date Дата добавления статьи
		div.article__text
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.article__paragraf Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
