div.section.section-contacts
	div.conteiner
		section.contacts
			h2.section__title.section__sub-title.section__sub-title--color--black Контакты
			+contacts('contacts-list clearfix', 'contacts-list__item')
	div.empty