form.section.section--feedback.feedback-form
	h1.section__title.section__sub-title.section__sub-title--color--white Связаться со мной
	div.feedback__inputs
		input.input.feedback-form__input(placeholder="Ваше имя" name="name")
		input.input.feedback-form__input(placeholder="Ваш email" name="email")
		textarea.textarea.feedback-form__textarea(placeholder="Ваш email" name="post")
	div.buttons.clearfix
		button.button.left.feedback-form__button(type="submit") Отправить
		button.button.left.button--bg--none.feedback-form__button(type="reset") Очистить