section.section.section-me.left
	h1.section__title.section__title--color--black.section__title--me Обо мне
	div.photo
		img.photo__img(src="./assets/img/content/me2.jpg" alt="Гордиенко Валентин. Сайт-портфолио.")
	h2.section__title.section__sub-title.section__sub-title--color--black Кто я
	p.section-me__words Я веб разработчик из Санкт-Петербурга. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
	p.section-me__words Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!