section.section.section-myskills.left
	h2.section__title.section__sub-title.section__sub-title--color--black Чем я могу быть вам полезен
	p.section-myskills__words Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи по Backend. Но давайте по порядку.
	ol.list.skills-list
		li.list-item.skills-list__activities Frontend
			ul.list.clearfix.technologies-list
				li.list-item.technologies-list__item HTML5
				li.list-item.technologies-list__item CSS3
				li.list-item.technologies-list__item JavaScript & jQuery
		li.list-item.skills-list__activities Backend
			ul.list.clearfix.technologies-list
				li.list-item.technologies-list__item PHP
				li.list-item.technologies-list__item mySQL
				li.list-item.technologies-list__item Node.js & npm
				li.list-item.technologies-list__item Mongo.db
		li.list-item.skills-list__activities WorkFlow
			ul.list.clearfix.technologies-list
				li.list-item.technologies-list__item Git
				li.list-item.technologies-list__item Gulp
				li.list-item.technologies-list__item Bower