form.section.section-feedback.feedback-form
	h2.title.sub-title.font-sixe--35 Связаться со мной
	div.feedback__inputs
		input.input.feedback-form__input(placeholder="Ваше имя" name="name")
		input.input.feedback-form__input(placeholder="Ваш email" name="email")
		textarea.textarea.feedback-form__textarea(placeholder="Ваш email" name="post")
	div.buttons.clearfix
		button.button.left(type="submit") Отправить
		button.button.left(type="reset") Очистить