section.section.section-myskills.left
	h2.title.sub-title.font-sixe--35 Чем я могу быть вам полезен
	p.text
		|На данный момент времени я больше всего развиваю навыки по Frontend и JavaScript. Но я так-же обладаю базовыми знаниями и навыками по Backend
		| и SEO.
	+skills