section.section.section-slider#section__slider
	h2.title.font-sixe--63 Мои работы
	div.conteiner
		div.slider.clearfix#slider
			div.slider__item.slider__main-img#slider-main-img
			ol.slider__item.slider__item-list.slider__list.vertical-align-center__parent
				li.slider__list-item.vertical-align-center__child
					h3.title.sub-title.font-sixe--35 Сайт школы онлайн образования
					ol.slider__description
						li.slider__description-item HTML
						li.slider__description-item CSS
						li.slider__description-item JavaScript
					a.button.link.button__slider Посмотреть сайт
			div.slider__item.slider__buttons.clearfix
				div.left.slider__button.slider__button--down#slider-btn-down
				div.left.slider__button.slider__button--up#slider-btn-up