div.section.section-articles.left
	article.article#article_1
		h2.title.font-sixe--35 Заголовок статьи №1
		time.date 22 сентября 2016
		div.article__text
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_2
		h2.title.font-sixe--35 Заголовок статьи №2
		time.date 22 сентября 2016
		div.article__text
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_3
		h2.title.font-sixe--35 Заголовок статьи №3
		time.date 22 сентября 2016
		div.article__text
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_4
		h2.title.font-sixe--35 Заголовок статьи №4
		time.date 22 сентября 2016
		div.article__text
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
	article.article#article_5
		h2.title.font-sixe--35 Заголовок статьи №5
		time.date 22 сентября 2016
		div.article__text
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
			p.text Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.Мои интересные заметки.
