section.section.section-me.left.clearfix
	h2.title.font-sixe--63 Обо мне
	div.me-info-wrapper
		div.photo
			img.img(src="./assets/img/content/me2.jpg" alt="Гордиенко Валентин. Сайт-портфолио.")
		h3.title.sub-title.font-sixe--35 Кто я
		p.text Я веб разработчик из Санкт-Петербурга. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
		p.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!