section.section.section-myskills.left
	h2.title.sub-title.font-sixe--35 Чем я могу быть вам полезен
	p.text Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи по Backend. Но давайте по порядку.
	ol.skills-list
		li.list-item.skills-list__activitie Frontend
			ul.list-line.clearfix.technologies-list
				li.list-line__item.technologies-list__item HTML5
				li.list-line__item.technologies-list__item CSS3
				li.list-line__item.technologies-list__item JavaScript & jQuery
		li.list-item.skills-list__activitie Backend
			ul.list-line.clearfix.technologies-list
				li.list-line__item.technologies-list__item PHP
				li.list-line__item.technologies-list__item mySQL
				li.list-line__item.technologies-list__item Node.js & npm
				li.list-line__item.technologies-list__item Mongo.db
		li.list-item.skills-list__activitie WorkFlow
			ul.list-line.clearfix.technologies-list
				li.list-line__item.technologies-list__item Git
				li.list-line__item.technologies-list__item Gulp
				li.list-line__item.technologies-list__item Bower