section.section.section--slider#section--slider
	h1.section__title.section__title--slider Мои работы
	div.conteiner
		div.slider.clearfix#slider
			ol.list.left.slider__item.slider__item--list.slider__list
				li.list__item.slider__list-item
					h2.section__title.section__sub-title.section__sub-title--color--black Сайт школы онлайн образования
					p.slider__description HTML, CSS, JAVASCRIPT
					a.btn-link.btn-link--slider Посмотреть сайт
			div.left.slider__item.slider__item--images
				div.slider__item.slider__item--img.slider__item--img--main
				div.slider__item.slider__item--buttons
					div.left.slider__item.slider__item--img.slider__item--button.slider__item--button--down#slider-btn-down
					div.left.slider__item.slider__item--img.slider__item--button.slider__item--button--up#slider-btn-up