section.section.section--top
	div.conteiner
		div.circle-photo
			img.circle-photo__img.circle-photo__img--me(src="./assets/img/content/me.jpg" alt="Гордиенко Валентин. Сайт портфолио.")
		div.person
			h1.section__title Блог
			h2.person__desc Статьи которые я написал