section.section.section--top
	div.mountain
	div.conteiner
		div.circle-photo
			a.link.link-img(href="./")
				img.img(src="./assets/img/content/me.jpg" alt="Гордиенко Валентин. Сайт портфолио.")
		div.person
			h1.person__name Гордиенко Валентин
			h2.person__desc Личный сайт web разработчика
		div.btn-down