.button {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 12px 20px;
	border: none;
	border-radius: 0;
	background: none;
	font: 16px/21px robotomedium;
	color: #ffffff;
	text-align: center;
	background-color: #004cd1;

	&:hover {
		cursor: pointer;
		background-color: #043ea3;
	}

	&__login {
		position: absolute;
		top: 24px;
		right: 20px;
		width: 180px;
		border: 1px solid #ffffff;
		background: none;
		z-index: 1;
	}

	&__slider {
		width: 200px;
		margin: 0 auto;
		padding-left: 45px;
		@include sprite-image($link);
		background-position: 17px -61px;
	}
}