/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$check-radio-name: 'check-radio';
$check-radio-x: 0px;
$check-radio-y: 233px;
$check-radio-offset-x: 0px;
$check-radio-offset-y: -233px;
$check-radio-width: 20px;
$check-radio-height: 20px;
$check-radio-total-width: 459px;
$check-radio-total-height: 1643px;
$check-radio-image: '../img/designe/iconspritepng.png';
$check-radio: (0px, 233px, 0px, -233px, 20px, 20px, 459px, 1643px, '../img/designe/iconspritepng.png', 'check-radio', );
$check-name: 'check';
$check-x: 0px;
$check-y: 193px;
$check-offset-x: 0px;
$check-offset-y: -193px;
$check-width: 21px;
$check-height: 20px;
$check-total-width: 459px;
$check-total-height: 1643px;
$check-image: '../img/designe/iconspritepng.png';
$check: (0px, 193px, 0px, -193px, 21px, 20px, 459px, 1643px, '../img/designe/iconspritepng.png', 'check', );
$gh-hover-name: 'gh-hover';
$gh-hover-x: 0px;
$gh-hover-y: 315px;
$gh-hover-offset-x: 0px;
$gh-hover-offset-y: -315px;
$gh-hover-width: 26px;
$gh-hover-height: 22px;
$gh-hover-total-width: 459px;
$gh-hover-total-height: 1643px;
$gh-hover-image: '../img/designe/iconspritepng.png';
$gh-hover: (0px, 315px, 0px, -315px, 26px, 22px, 459px, 1643px, '../img/designe/iconspritepng.png', 'gh-hover', );
$gh-name: 'gh';
$gh-x: 0px;
$gh-y: 399px;
$gh-offset-x: 0px;
$gh-offset-y: -399px;
$gh-width: 26px;
$gh-height: 22px;
$gh-total-width: 459px;
$gh-total-height: 1643px;
$gh-image: '../img/designe/iconspritepng.png';
$gh: (0px, 399px, 0px, -399px, 26px, 22px, 459px, 1643px, '../img/designe/iconspritepng.png', 'gh', );
$hamburger-name: 'hamburger';
$hamburger-x: 0px;
$hamburger-y: 441px;
$hamburger-offset-x: 0px;
$hamburger-offset-y: -441px;
$hamburger-width: 40px;
$hamburger-height: 36px;
$hamburger-total-width: 459px;
$hamburger-total-height: 1643px;
$hamburger-image: '../img/designe/iconspritepng.png';
$hamburger: (0px, 441px, 0px, -441px, 40px, 36px, 459px, 1643px, '../img/designe/iconspritepng.png', 'hamburger', );
$key-name: 'key';
$key-x: 0px;
$key-y: 757px;
$key-offset-x: 0px;
$key-offset-y: -757px;
$key-width: 45px;
$key-height: 45px;
$key-total-width: 459px;
$key-total-height: 1643px;
$key-image: '../img/designe/iconspritepng.png';
$key: (0px, 757px, 0px, -757px, 45px, 45px, 459px, 1643px, '../img/designe/iconspritepng.png', 'key', );
$li-hover-name: 'li-hover';
$li-hover-x: 0px;
$li-hover-y: 357px;
$li-hover-offset-x: 0px;
$li-hover-offset-y: -357px;
$li-hover-width: 24px;
$li-hover-height: 22px;
$li-hover-total-width: 459px;
$li-hover-total-height: 1643px;
$li-hover-image: '../img/designe/iconspritepng.png';
$li-hover: (0px, 357px, 0px, -357px, 24px, 22px, 459px, 1643px, '../img/designe/iconspritepng.png', 'li-hover', );
$li-name: 'li';
$li-x: 0px;
$li-y: 273px;
$li-offset-x: 0px;
$li-offset-y: -273px;
$li-width: 24px;
$li-height: 22px;
$li-total-width: 459px;
$li-total-height: 1643px;
$li-image: '../img/designe/iconspritepng.png';
$li: (0px, 273px, 0px, -273px, 24px, 22px, 459px, 1643px, '../img/designe/iconspritepng.png', 'li', );
$link-name: 'link';
$link-x: 0px;
$link-y: 74px;
$link-offset-x: 0px;
$link-offset-y: -74px;
$link-width: 20px;
$link-height: 19px;
$link-total-width: 459px;
$link-total-height: 1643px;
$link-image: '../img/designe/iconspritepng.png';
$link: (0px, 74px, 0px, -74px, 20px, 19px, 459px, 1643px, '../img/designe/iconspritepng.png', 'link', );
$login-name: 'login';
$login-x: 0px;
$login-y: 627px;
$login-offset-x: 0px;
$login-offset-y: -627px;
$login-width: 45px;
$login-height: 45px;
$login-total-width: 459px;
$login-total-height: 1643px;
$login-image: '../img/designe/iconspritepng.png';
$login: (0px, 627px, 0px, -627px, 45px, 45px, 459px, 1643px, '../img/designe/iconspritepng.png', 'login', );
$mail-name: 'mail';
$mail-x: 0px;
$mail-y: 692px;
$mail-offset-x: 0px;
$mail-offset-y: -692px;
$mail-width: 45px;
$mail-height: 45px;
$mail-total-width: 459px;
$mail-total-height: 1643px;
$mail-image: '../img/designe/iconspritepng.png';
$mail: (0px, 692px, 0px, -692px, 45px, 45px, 459px, 1643px, '../img/designe/iconspritepng.png', 'mail', );
$map-name: 'map';
$map-x: 0px;
$map-y: 497px;
$map-offset-x: 0px;
$map-offset-y: -497px;
$map-width: 45px;
$map-height: 45px;
$map-total-width: 459px;
$map-total-height: 1643px;
$map-image: '../img/designe/iconspritepng.png';
$map: (0px, 497px, 0px, -497px, 45px, 45px, 459px, 1643px, '../img/designe/iconspritepng.png', 'map', );
$map-marker-name: 'map_marker';
$map-marker-x: 0px;
$map-marker-y: 887px;
$map-marker-offset-x: 0px;
$map-marker-offset-y: -887px;
$map-marker-width: 44px;
$map-marker-height: 54px;
$map-marker-total-width: 459px;
$map-marker-total-height: 1643px;
$map-marker-image: '../img/designe/iconspritepng.png';
$map-marker: (0px, 887px, 0px, -887px, 44px, 54px, 459px, 1643px, '../img/designe/iconspritepng.png', 'map_marker', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 562px;
$phone-offset-x: 0px;
$phone-offset-y: -562px;
$phone-width: 45px;
$phone-height: 45px;
$phone-total-width: 459px;
$phone-total-height: 1643px;
$phone-image: '../img/designe/iconspritepng.png';
$phone: (0px, 562px, 0px, -562px, 45px, 45px, 459px, 1643px, '../img/designe/iconspritepng.png', 'phone', );
$skype-name: 'skype';
$skype-x: 0px;
$skype-y: 822px;
$skype-offset-x: 0px;
$skype-offset-y: -822px;
$skype-width: 45px;
$skype-height: 45px;
$skype-total-width: 459px;
$skype-total-height: 1643px;
$skype-image: '../img/designe/iconspritepng.png';
$skype: (0px, 822px, 0px, -822px, 45px, 45px, 459px, 1643px, '../img/designe/iconspritepng.png', 'skype', );
$stars-name: 'stars';
$stars-x: 0px;
$stars-y: 1373px;
$stars-offset-x: 0px;
$stars-offset-y: -1373px;
$stars-width: 459px;
$stars-height: 270px;
$stars-total-width: 459px;
$stars-total-height: 1643px;
$stars-image: '../img/designe/iconspritepng.png';
$stars: (0px, 1373px, 0px, -1373px, 459px, 270px, 459px, 1643px, '../img/designe/iconspritepng.png', 'stars', );
$stars2-name: 'stars2';
$stars2-x: 0px;
$stars2-y: 961px;
$stars2-offset-x: 0px;
$stars2-offset-y: -961px;
$stars2-width: 263px;
$stars2-height: 170px;
$stars2-total-width: 459px;
$stars2-total-height: 1643px;
$stars2-image: '../img/designe/iconspritepng.png';
$stars2: (0px, 961px, 0px, -961px, 263px, 170px, 459px, 1643px, '../img/designe/iconspritepng.png', 'stars2', );
$stars3-name: 'stars3';
$stars3-x: 0px;
$stars3-y: 1151px;
$stars3-offset-x: 0px;
$stars3-offset-y: -1151px;
$stars3-width: 173px;
$stars3-height: 202px;
$stars3-total-width: 459px;
$stars3-total-height: 1643px;
$stars3-image: '../img/designe/iconspritepng.png';
$stars3: (0px, 1151px, 0px, -1151px, 173px, 202px, 459px, 1643px, '../img/designe/iconspritepng.png', 'stars3', );
$uncheck-radio-name: 'uncheck-radio';
$uncheck-radio-x: 0px;
$uncheck-radio-y: 153px;
$uncheck-radio-offset-x: 0px;
$uncheck-radio-offset-y: -153px;
$uncheck-radio-width: 21px;
$uncheck-radio-height: 20px;
$uncheck-radio-total-width: 459px;
$uncheck-radio-total-height: 1643px;
$uncheck-radio-image: '../img/designe/iconspritepng.png';
$uncheck-radio: (0px, 153px, 0px, -153px, 21px, 20px, 459px, 1643px, '../img/designe/iconspritepng.png', 'uncheck-radio', );
$uncheck-name: 'uncheck';
$uncheck-x: 0px;
$uncheck-y: 113px;
$uncheck-offset-x: 0px;
$uncheck-offset-y: -113px;
$uncheck-width: 21px;
$uncheck-height: 20px;
$uncheck-total-width: 459px;
$uncheck-total-height: 1643px;
$uncheck-image: '../img/designe/iconspritepng.png';
$uncheck: (0px, 113px, 0px, -113px, 21px, 20px, 459px, 1643px, '../img/designe/iconspritepng.png', 'uncheck', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 0px;
$vk-hover-y: 37px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -37px;
$vk-hover-width: 31px;
$vk-hover-height: 17px;
$vk-hover-total-width: 459px;
$vk-hover-total-height: 1643px;
$vk-hover-image: '../img/designe/iconspritepng.png';
$vk-hover: (0px, 37px, 0px, -37px, 31px, 17px, 459px, 1643px, '../img/designe/iconspritepng.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 0px;
$vk-offset-x: 0px;
$vk-offset-y: 0px;
$vk-width: 31px;
$vk-height: 17px;
$vk-total-width: 459px;
$vk-total-height: 1643px;
$vk-image: '../img/designe/iconspritepng.png';
$vk: (0px, 0px, 0px, 0px, 31px, 17px, 459px, 1643px, '../img/designe/iconspritepng.png', 'vk', );
$spritesheet-width: 459px;
$spritesheet-height: 1643px;
$spritesheet-image: '../img/designe/iconspritepng.png';
$spritesheet-sprites: ($check-radio, $check, $gh-hover, $gh, $hamburger, $key, $li-hover, $li, $link, $login, $mail, $map, $map-marker, $phone, $skype, $stars, $stars2, $stars3, $uncheck-radio, $uncheck, $vk-hover, $vk, );
$spritesheet: (459px, 1643px, '../img/designe/iconspritepng.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
