/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$gh-hover-name: 'gh-hover';
$gh-hover-x: 0px;
$gh-hover-y: 74px;
$gh-hover-offset-x: 0px;
$gh-hover-offset-y: -74px;
$gh-hover-width: 26px;
$gh-hover-height: 22px;
$gh-hover-total-width: 459px;
$gh-hover-total-height: 1379px;
$gh-hover-image: '../img/designe/iconspritepng.png';
$gh-hover: (0px, 74px, 0px, -74px, 26px, 22px, 459px, 1379px, '../img/designe/iconspritepng.png', 'gh-hover', );
$gh-name: 'gh';
$gh-x: 0px;
$gh-y: 200px;
$gh-offset-x: 0px;
$gh-offset-y: -200px;
$gh-width: 26px;
$gh-height: 22px;
$gh-total-width: 459px;
$gh-total-height: 1379px;
$gh-image: '../img/designe/iconspritepng.png';
$gh: (0px, 200px, 0px, -200px, 26px, 22px, 459px, 1379px, '../img/designe/iconspritepng.png', 'gh', );
$hamburger-name: 'hamburger';
$hamburger-x: 0px;
$hamburger-y: 242px;
$hamburger-offset-x: 0px;
$hamburger-offset-y: -242px;
$hamburger-width: 40px;
$hamburger-height: 36px;
$hamburger-total-width: 459px;
$hamburger-total-height: 1379px;
$hamburger-image: '../img/designe/iconspritepng.png';
$hamburger: (0px, 242px, 0px, -242px, 40px, 36px, 459px, 1379px, '../img/designe/iconspritepng.png', 'hamburger', );
$li-hover-name: 'li-hover';
$li-hover-x: 0px;
$li-hover-y: 116px;
$li-hover-offset-x: 0px;
$li-hover-offset-y: -116px;
$li-hover-width: 24px;
$li-hover-height: 22px;
$li-hover-total-width: 459px;
$li-hover-total-height: 1379px;
$li-hover-image: '../img/designe/iconspritepng.png';
$li-hover: (0px, 116px, 0px, -116px, 24px, 22px, 459px, 1379px, '../img/designe/iconspritepng.png', 'li-hover', );
$li-name: 'li';
$li-x: 0px;
$li-y: 158px;
$li-offset-x: 0px;
$li-offset-y: -158px;
$li-width: 24px;
$li-height: 22px;
$li-total-width: 459px;
$li-total-height: 1379px;
$li-image: '../img/designe/iconspritepng.png';
$li: (0px, 158px, 0px, -158px, 24px, 22px, 459px, 1379px, '../img/designe/iconspritepng.png', 'li', );
$mail-name: 'mail';
$mail-x: 0px;
$mail-y: 363px;
$mail-offset-x: 0px;
$mail-offset-y: -363px;
$mail-width: 45px;
$mail-height: 45px;
$mail-total-width: 459px;
$mail-total-height: 1379px;
$mail-image: '../img/designe/iconspritepng.png';
$mail: (0px, 363px, 0px, -363px, 45px, 45px, 459px, 1379px, '../img/designe/iconspritepng.png', 'mail', );
$map-name: 'map';
$map-x: 0px;
$map-y: 298px;
$map-offset-x: 0px;
$map-offset-y: -298px;
$map-width: 45px;
$map-height: 45px;
$map-total-width: 459px;
$map-total-height: 1379px;
$map-image: '../img/designe/iconspritepng.png';
$map: (0px, 298px, 0px, -298px, 45px, 45px, 459px, 1379px, '../img/designe/iconspritepng.png', 'map', );
$map-marker-name: 'map_marker';
$map-marker-x: 0px;
$map-marker-y: 623px;
$map-marker-offset-x: 0px;
$map-marker-offset-y: -623px;
$map-marker-width: 44px;
$map-marker-height: 54px;
$map-marker-total-width: 459px;
$map-marker-total-height: 1379px;
$map-marker-image: '../img/designe/iconspritepng.png';
$map-marker: (0px, 623px, 0px, -623px, 44px, 54px, 459px, 1379px, '../img/designe/iconspritepng.png', 'map_marker', );
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 558px;
$phone-offset-x: 0px;
$phone-offset-y: -558px;
$phone-width: 45px;
$phone-height: 45px;
$phone-total-width: 459px;
$phone-total-height: 1379px;
$phone-image: '../img/designe/iconspritepng.png';
$phone: (0px, 558px, 0px, -558px, 45px, 45px, 459px, 1379px, '../img/designe/iconspritepng.png', 'phone', );
$skype-hover-name: 'skype-hover';
$skype-hover-x: 0px;
$skype-hover-y: 428px;
$skype-hover-offset-x: 0px;
$skype-hover-offset-y: -428px;
$skype-hover-width: 45px;
$skype-hover-height: 45px;
$skype-hover-total-width: 459px;
$skype-hover-total-height: 1379px;
$skype-hover-image: '../img/designe/iconspritepng.png';
$skype-hover: (0px, 428px, 0px, -428px, 45px, 45px, 459px, 1379px, '../img/designe/iconspritepng.png', 'skype-hover', );
$skype-name: 'skype';
$skype-x: 0px;
$skype-y: 493px;
$skype-offset-x: 0px;
$skype-offset-y: -493px;
$skype-width: 45px;
$skype-height: 45px;
$skype-total-width: 459px;
$skype-total-height: 1379px;
$skype-image: '../img/designe/iconspritepng.png';
$skype: (0px, 493px, 0px, -493px, 45px, 45px, 459px, 1379px, '../img/designe/iconspritepng.png', 'skype', );
$stars-name: 'stars';
$stars-x: 0px;
$stars-y: 1109px;
$stars-offset-x: 0px;
$stars-offset-y: -1109px;
$stars-width: 459px;
$stars-height: 270px;
$stars-total-width: 459px;
$stars-total-height: 1379px;
$stars-image: '../img/designe/iconspritepng.png';
$stars: (0px, 1109px, 0px, -1109px, 459px, 270px, 459px, 1379px, '../img/designe/iconspritepng.png', 'stars', );
$stars2-name: 'stars2';
$stars2-x: 0px;
$stars2-y: 697px;
$stars2-offset-x: 0px;
$stars2-offset-y: -697px;
$stars2-width: 263px;
$stars2-height: 170px;
$stars2-total-width: 459px;
$stars2-total-height: 1379px;
$stars2-image: '../img/designe/iconspritepng.png';
$stars2: (0px, 697px, 0px, -697px, 263px, 170px, 459px, 1379px, '../img/designe/iconspritepng.png', 'stars2', );
$stars3-name: 'stars3';
$stars3-x: 0px;
$stars3-y: 887px;
$stars3-offset-x: 0px;
$stars3-offset-y: -887px;
$stars3-width: 173px;
$stars3-height: 202px;
$stars3-total-width: 459px;
$stars3-total-height: 1379px;
$stars3-image: '../img/designe/iconspritepng.png';
$stars3: (0px, 887px, 0px, -887px, 173px, 202px, 459px, 1379px, '../img/designe/iconspritepng.png', 'stars3', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 0px;
$vk-hover-y: 37px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -37px;
$vk-hover-width: 31px;
$vk-hover-height: 17px;
$vk-hover-total-width: 459px;
$vk-hover-total-height: 1379px;
$vk-hover-image: '../img/designe/iconspritepng.png';
$vk-hover: (0px, 37px, 0px, -37px, 31px, 17px, 459px, 1379px, '../img/designe/iconspritepng.png', 'vk-hover', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 0px;
$vk-offset-x: 0px;
$vk-offset-y: 0px;
$vk-width: 31px;
$vk-height: 17px;
$vk-total-width: 459px;
$vk-total-height: 1379px;
$vk-image: '../img/designe/iconspritepng.png';
$vk: (0px, 0px, 0px, 0px, 31px, 17px, 459px, 1379px, '../img/designe/iconspritepng.png', 'vk', );
$spritesheet-width: 459px;
$spritesheet-height: 1379px;
$spritesheet-image: '../img/designe/iconspritepng.png';
$spritesheet-sprites: ($gh-hover, $gh, $hamburger, $li-hover, $li, $mail, $map, $map-marker, $phone, $skype-hover, $skype, $stars, $stars2, $stars3, $vk-hover, $vk, );
$spritesheet: (459px, 1379px, '../img/designe/iconspritepng.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
