/*Main*/
html, body {
	width: 100%;
	height: 100%;
	min-height: 650px;
}

html {
	font-size: 100%;
}

body {
	font: 14px/1.41 'Verdana', 'Arial', sans-serif;
	color: rgb(114, 112, 112);
	word-wrap: break-word;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Blocks*/
div, p, ul, ol, li, img, section, header, footer, article, aside, h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	border: none;
}

ul, ol, li {
	list-style: none;
}

/*Сlearfix*/
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*Page*/
.wrapper {
	position: relative;
	min-height: 100%;
	height: 100%;
	min-width: 320px;
	overflow: hidden;
	margin: 0 auto;
}

.block-center {
	text-align: center;
}

/*List*/
.list {

	&__item {

	}
}

/*Links*/
.link {
	text-decoration: none;
}

/*Conteiners*/
.conteiner {
	position: relative;
	box-sizing: content-box;
	min-width: 320px;
	max-width: 1600px;
	padding: 0 20px;
	margin: 0 auto;
}

/*Sections*/