extends ../_template.pug

block title
	title Сайт-портфоли Гордиенко Валентина. Обо мне.

block pagestyle
	link(rel='stylesheet' href='/assets/css/aboute.css')

block content
	div.wrapper.aboute
		include ../_parts/_bg-video.pug
		include ../_common/_header.pug
		include ../_sections/_top.pug
		div.aboute__middle
			div.conteiner.clearfix
				include ../_sections/_me.pug
				include ../_sections/_myskills.pug
		include ../_sections/_contact.pug

block footer
	+footer('')