extends ../_template.pug
block title
	title Сайт-портфолио. Гордиенко Валентин. Блог.

block pagestyle
	link(rel='stylesheet' href='/assets/css/blog.css')

block content
	div.wrapper.blog
		include ../_parts/_bg-video.pug
		include ../_common/_header.pug
		include ../_sections/_section-top-blog.pug
		div.blog__middle
			div.articles.clearfix
				include ../_sections/_section-sidebar.pug
				include ../_sections/_section-articles.pug
			div.empty
block footer
	+footer('')