extends ../_template.pug
block title
	title Сайт-портфоли Гордиенко Валентина. Главная страница.

block pagestyle
	link(rel='stylesheet' href='/assets/css/index.css')

block content
	include ../_parts/_bg-video.pug
	div.mountain
	div.section.section-wellcome.vertical-align-center__parent
		a.button.link.button__login.background-none(href="#login") Авторизоваться
		section.block-center.home.vertical-align-center__child.hide#home
			div.circle-photo
				a.link.link-img(href="./")
					img.img(src="./assets/img/content/me.jpg" alt="Гордиенко Валентин. Сайт портфолио.")
			div.person
				h1.person__name Гордиенко Валентин
				h2.person__desc Личный сайт web разработчика
			+social(' block-center')
			+menu(0)
		form.block-center.login.vertical-align-center__child#login
			h2.title.font-sixe--35 Авторизуйтесь
			div.login__inputs
				input.input.input--name(type="text" placeholder="Логин" name="name")
				input.input.input--key(type="password" placeholder="Пароль" name="key")
				div.login__checkbox-block.clearfix
					input.checkbox#remember-me(name="remember-me" type="checkbox")
					label.checkbox-fake(for="remember-me")
					p.checkbox-title Я человек
				div.login__radio-block
					p.radio-block__title Вы точно не робот?
					ul.list-line.radio-block__buttons
						li.list-line__item.radio-button.clearfix
							input.radio#sure(type="radio" name="areYouShure" value="sure")
							label.radio-fake(for="sure")
							p.radio-title Да
						li.list-line__item.radio-button.clearfix
							input.radio#notSure(type="radio" name="areYouShure" value="notSure")
							label.radio-fake(for="notSure")
							p.radio-title Не уверен
			div.buttons.clearfix
				a.button.link.left(href="#home") На главную
				button.button.left(type="submit") Войти
block footer
	+footer('wellcome')