extends ../_template.pug

block pagestyle
	link(rel='stylesheet' href='/assets/css/index.css')

block content
	div.wrapper
		section.wellcome
			div.conteiner.conteiner__wellcome
				a.btn-link.btn-link__auth(href="./login.html") Авторизоваться
				section.modal-window
					div.circle-photo
						img.circle-photo__img.circle-photo__img--me(src="./assets/img/content/me.jpg")
					div.person
						h1.person__name Гордиенко Валентин
						h4.person__desc Личный сайт web разработчик
					+social(' block-center')
					+menu(0)
				div.empty.empty__wellcome

block footer
	+footer('wellcome')