extends ../_template.pug
block title
	title Сайт-портфоли Гордиенко Валентина. Страница приветствия.

block pagestyle
	link(rel='stylesheet' href='/assets/css/index.css')

block content
	section.section.section--wellcome
		a.btn-link.btn-link--auth(href="./login.html") Авторизоваться
		div.modal-window.block-center
			div.circle-photo
				img.circle-photo__img.circle-photo__img--me(src="./assets/img/content/me.jpg" alt="Гордиенко Валентин. Сайт портфолио.")
			div.person
				h1.person__name Гордиенко Валентин
				h2.person__desc Личный сайт web разработчика
			+social(' block-center')
			+menu(0)

block footer
	+footer('wellcome')