extends ../_template.pug

block title
	title Сайт-портфоли Гордиенко Валентина. Мои работы.

block pagestyle
	link(rel='stylesheet' href='/assets/css/myworks.css')

block content
	div.wrapper.myworks
		include ../_common/_header.pug
		include ../_sections/_top.pug
		include ../_sections/_slider.pug
		div.myworks__bottom
			include ../_sections/_reviews.pug
			include ../_sections/_feedback.pug
block footer
	+footer('')