.section-wellcome {
	height: 100%;
	color: #ffffff;
}

.home {
	width: 380px;
	padding-top: 40px;
	background-color: rgba(69, 90, 100, 0.51);

	.circle-photo {
		margin-bottom: 13px;
	}

	.menu {

		&__item {
			float: left;
			border-left: 2px solid #ffffff;

			&:first-child {
				border-left: none;
				width: 40.526316%;
			}

			&:nth-child(2) {
				width: 33.421053%;
			}

			&:nth-child(3) {
				width: 26.052631%;
			}

			&:last-child {
				display: none;
			}
		}
	}

	.social {
		margin-bottom: 35px;
	}
}

.login {
	position: relative;
	width: 380px;
	padding-top: 30px;
	background-color: rgba(69, 90, 100, 0.51);

	.title {
		margin-bottom: 30px;
	}

	&__inputs {
		padding: 0 20px;
		width: 100%;

		.input {
			width: 100%;
			padding: 0 10px 0 65px;
			background-color: #ffffff;
			height: 42px;
			line-height: 42px;
			margin-bottom: 23px;
			color: #373e42;
			font-family: robotoregular;

			&--name {
				background-image: url("../img/designe/iconspritepng.png");
				@include sprite-position($login);
			}

			&--key {
				background-image: url("../img/designe/iconspritepng.png");
				@include sprite-position($key);
			}
		}
	}

	&__checkbox-block {
		width: 111px;
		height: 22px;
		margin-bottom: 15px;

		.checkbox {
			position: absolute;
			left: -10000px;

			&:checked + .checkbox-fake {
				@include sprite-position($check);
			}
		}

		.checkbox-fake {
			display: block;
			float: left;
			@include sprite($uncheck);
		}

		.checkbox-title {
			float: left;
			height: 22px;
			line-height: 22px;
			margin-left: 5px;
			vertical-align: top;
		}
	}

	&__radio-block {
		margin-bottom: 25px;

		.radio-button {
			height: 20px;
			line-height: 20px;

			&:first-child {
				margin-right: 35px;
			}
		}

		.radio {
			position: absolute;
			left: -10000px;

			&:checked + .radio-fake {
				@include sprite($check-radio);
			}
		}

		.radio-fake {
			display: block;
			float: left;
			@include sprite($uncheck-radio);
		}

		.radio-title {
			display: block;
			float: left;
			height: 20px;
			margin-left: 10px;
			line-height: 20px;
			vertical-align: top;
		}
	}

	.radio-block__title {
		height: 24px;
		font: 16px/24px robotobold;
		margin-bottom: 7px;
	}

	.radio-block__buttons {
		width: 204px;
	}

	.buttons {
		width: 100%;
	}

	.button {
		width: 50%;

		&:first-child {
			border-right: 2px solid #fff;
		}
	}
}