.section-top {
	position: relative;
	color: #ffffff;

	.circle-photo {
		margin-bottom: 26px;
	}

	.conteiner {
		position: relative;
		min-height: 600px;
		padding-top: 60px;

		.btn-down {
			position: absolute;
			margin-bottom: 75px;
			bottom: 0;
			left: 49.25%;
			width: 18px;
			height: 18px;
			border-left: 5px solid #ffffff;
			border-bottom: 5px solid #ffffff;
			transform: rotate(-45deg);
			opacity: 0.7;
			z-index: 1;

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}
	}

	.person {
		margin-bottom: 0;

		&__name {
			font-size: 35px;
			line-height: 35px;
		}
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100px;
		width: 100%;
		background-position: 0 0, 100% 0;
		background-repeat: no-repeat;
		background-size: 51% 100%;
	}
}

.myworks {
	.section-top:before {
		background-image: linear-gradient(to right top, #0d1120 50%, transparent 50%),
		linear-gradient(to left top, #0d1120 50%, transparent 50%);
		opacity: 0.75;
	}
}

.about {
	.section-top:before {
		background-image: linear-gradient(to right top, #f2f0e8 50%, transparent 50%),
		linear-gradient(to left top, #f4f5f0 50%, transparent 50%);
		opacity: 1;
	}
}

@media screen and (max-width: 1050px) {
	.section-top {
		.conteiner {
			padding-top: 23px;
			min-height: 390px;
		}
	}
}

@media screen and (max-width: 480px) {
	.section-top {
		.conteiner {
			box-sizing: border-box;
			padding-top: 55px;
			min-height: 500px;
		}

		.person__name {
			font-size: 21px;
			margin-bottom: 4px;
		}

		.person__desc {
			font-size: 14px;
			font-family: robotolight;
			line-height: 16px;
		}
	}
}
