.section--wellcome {
	position: relative;
	height: 100%;
	color: #fff;

	.circle-photo {
		margin-bottom: 13px;
	}

	.menu {

		&__item {
			float: left;
			border-left: 2px solid #ffffff;

			&:first-child {
				border-left: none;
				width: 40.526316%;
			}

			&:nth-child(2) {
				width: 33.421053%;
			}

			&:nth-child(3) {
				width: 26.052631%;
			}

			&:last-child {
				display: none;
			}
		}
	}
}