.section-articles {
	width: 810px;
}

.article {
	margin: 0 115px 70px 20px;
	padding-bottom: 70px;
	border-bottom: 5px solid #ecebe4;

	.title {
		text-align: left;
		margin-bottom: 20px;
	}

	.date, text {
		font-family: robotoregular;
	}

	.text {
		line-height: 26px;
		margin-bottom: 22px;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}