.section-contacts {
	position: relative;
	background-image: url("../img/designe/map.png");
	background-size: cover;

	.conteiner {
		height: 790px;
	}
}

.contacts {
	position: absolute;
	margin: auto;
	padding: 25px 0 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 580px;
	height: 280px;
	background-color: rgba(255, 255, 255, 0.71);

	.contacts-list {

		&__item {
			display: block;
			float: left;
			width: 50%;
			height: 50px;
			padding: 15px 10px 15px 70px;
			margin: 0 0 25px;
			font: 16px/24px robotomedium;
			color: #474b57;
			background-image: url("../img/designe/iconspritepng.png");

			.link {
				color: #474b57;
			}

			&:nth-child(even) {
				float: right;
			}

			&:nth-child(1) {
				background-position: 17px -398px;
			}

			&:nth-child(2) {
				background-position: 8px -464px;
			}

			&:nth-child(3) {
				background-position: 17px -596px;
			}

			&:nth-child(4) {
				background-position: 8px -336px;
			}
		}
	}
}