.section-myskills {
	width: 50%;
	padding-top: 8px;

	.title {
		width: 300px;
	}

	.sub-title {
		margin-bottom: 35px;
	}

	.text {
		margin-bottom: 45px;
		padding: 0 20px 0 35px;
	}
}

.skills-list {
	
	&__activities {
		font: 28px/32px robotomedium;
		margin: 0 0 0 38px;
	}
}

.technologies-list {

	margin: 16px 0 0;

	&__item {
		display: table-cell;
		float: left;
		width: 110px;
		height: 110px;
		margin: 0 30px 35px 0;
		padding: 20px;
		border-radius: 50%;
		background-color: #0066bb;
		font: 13px/14px robotomedium;
		color: #fff;
		text-align: center;
	}
}