.btn {

}

.btn-link {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	padding: 12px 20px;
	color: #fff;
	text-align: center;
	font: 16px/21px robotomedium;

	&__auth {
		position: absolute;
		top: 24px;
		right: 20px;
		width: 180px;
		border: 1px solid #fff;
		z-index: 1;

		&:hover {
			background-color: #043ea3;
		}
	}
}