.modal-window {
	position: absolute;
	width: 380px;
	height: 395px;
	margin: auto;
	padding-top: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(69, 90, 100, 0.51);

}

.login{
	padding-top: 30px;
	height: 375px;

	.section__sub-title {
		margin-bottom: 35px;

		&:after {
			display: none;
		}
	}

	&__inputs {
		padding: 0 20px;
		width: 100%;
	}

	.login__input {
		width: 100%;
		padding: 0 10px 0 65px;
		background-color: #fff;
		height: 42px;
		margin-bottom: 23px;
		color: #373e42;
		font: 16px robotoregular;

		&--name {
			background-image: url("../img/designe/iconspritepng.png");
			@include sprite-position($login);
		}

		&--key {
			background-image: url("../img/designe/iconspritepng.png");
			@include sprite-position($key);
		}
	}

	&__checkbox {
		position: absolute;
		left: -10000px;

		&:checked + .login__fake-checkbox {
			@include sprite-position($check);
		}
	}

	&__fake-checkbox {
		display: inline-block;
		vertical-align: top;
		@include sprite($uncheck);
	}

	&__checkbox-title {
		display: inline-block;
		height: 22px;
		line-height: 22px;
		margin-left: 5px;
		vertical-align: top;
	}
	
	&__radio-title {
		font: 16px/24px robotobold;
		margin-bottom: 7px;
	}

	&__radio {
		position: absolute;
		left: -10000px;

		&:checked + .login__fake-radio {
			@include sprite($check-radio);
		}
	}

	&__radio-answer {
		height: 20px;
		line-height: 20px;
	}

	&__radio-answer-title {
		display: inline-block;
		height: 20px;
		margin: 1px 0 0 10px;
		line-height: 20px;
		vertical-align: top;
	}

	&__fake-radio {
		display: inline-block;
		vertical-align: top;
		@include sprite($uncheck-radio);
		margin: 0 0 0 35px;

		&--first {
			margin-left: 5px;
		}
	}

	.buttons {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	&__button {
		width: 50%;
	}
}

.input-group {
	color: #fff;

	&__checkbox {
		height: 22px;
		margin-bottom: 15px;
	}
}