.section {

	&__title {
		font: 63px sansus_webissimoregular;
		color: #fff;
		text-align: center;
		text-transform: uppercase;

		&--color--black {
			color: #474b57;
		}

		&__slider {
			line-height: 167px;
			background-color: rgba(13, 17, 32, 0.75);
		}

		&--reviews {
			width: 400px;
			padding: 60px 0 65px;
			line-height: 64px;
		}

		&--me {
			margin-bottom: 45px;
		}
	}

	&__sub-title {
		font-size: 35px;
		margin-bottom: 25px;

		&:after {
			content: '';
			display: block;
			width: 90px;
			height: 20px;
			margin: 0 auto;
			border-bottom: 3px solid #9c9d9f;
		}

		&--color--black {
			color: #474b57;
		}

		&--color--white {
			color: #fff;
		}
	}
}
