.section {

	&__title {
		font: 63px sansus_webissimoregular;
		text-align: center;
		text-transform: uppercase;
	}

	&__sub-title {
		font-size: 35px;
		margin-bottom: 25px;

		&:after {
			content: '';
			display: block;
			width: 90px;
			height: 20px;
			margin: 0 auto;
			border-bottom: 3px solid #9c9d9f;
		}
	}
}